{% extends "home.html" %}
{% block content %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Designation</th>
        <th scope="col">Experience</th>
        <th scope="col">View</th>
        <th scope="col">Create Aptitude Mark</th>
        <th scope="col">Create FaceToFace Mark</th>
        <th scope="col">Create Machine Mark</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <td>{{i.FullName}}</td>
        <td>{{i.LastName}}</td>
        <td>{{i.Designation__name}}</td>
        <td>{{i.Experience}}</td>
        <td><button class="btn btn-outline-warning" type="button" onclick =document.location="{% url 'detail' i.id %}">View</button></td>
        <td><button class="btn btn-outline-warning" type="button" onclick =document.location="{% url 'Aptitude' i.id %}">Aptitude</button>
        </td>
        <td><button class="btn btn-outline-warning" type="button" onclick =document.location="{% url 'face' i.id %}">FaceToFace</button>
        </td>
        <td><button class="btn btn-outline-warning" type="button" onclick =document.location="{% url 'machine' i.id %}">Machine</button>
        </td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>{% endblock %}