{% extends "home.html" %}
{% block content %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Designation</th>
        <th scope="col">Experience</th>
        <th scope="col">Aptitude Average Marks</th>
        <th scope="col">FaceToFace Average Marks</th>
        <th scope="col">Machine Average Marks</th>
        <th scope="col">Total Marks</th>
        <th scope="col">Interview Status</th>
        <th scope="col">View Marks</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <td>{{i.full}}</td>
        <td>{{i.last}}</td>
        <td>{{i.Des}}</td>
        <td>{{i.Experience}}</td>
        <td>{{i.apt}}</td>
        <td>{{i.fact}}</td>
        <td>{{i.mac}}</td>
        <td>{{i.total}}</td>
        <td>{{i.stain}}</td>
        <td><button class="btn btn-outline-warning" type="button" onclick =document.location="{% url 'mark' i.id %}">Detailed marks</button>
        </td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
  {% endblock %}